{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300;700&display=swap"
        rel="stylesheet">
    <script defer id="applicationScript" src="{% static 'script.js' %}"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>

<div id="n_10_Main_screen">
   
    {% block content%}
    {% endblock %}
   
</div>



</body>

</html>