{% extends 'Content.html' %}
{% block child %}
 <div class="team-block">
{% for object in objects %} 
  <a href="{{ object.id }}">
    <div class="team-block-member">
        <div>
          <img src="{{ object.img }}" class="team-block-member__img" alt="" />
        </div>
        <div class="team-block-member-info">
          <div class="team-block-member__heading">
            {{ object.name }}
          </div>
          <div class="team-block-member__sub">{{ object.date }}</div>
        </div>
      </div>
  </a>
   {% endfor %}
</div>
{% endblock %}
