{% load static %}
    <div class="footer">
        <div style="box-shadow:3px -8px 14px 1px rgba(34, 60, 80, 0.2);  ;width: 100%; height: 1px; background-color: rgba(34, 60, 80, 0.2); margin-top: 1rem; margin-bottom: 1rem;"></div>

        <div class="footer-container">
           <div class="footer__row-left">
               <a href="https://www.miigaik.ru/">
                <img src="{% static '1.png'%}" alt="" srcset="" class="footer__img">
               </a>
                <div class="footer__text">
                    Разработано Московским государственным университетом
                    геодезии и картографии (МИИГАиК)
                </div>
            </div>
          
            <div class="footer__row-right">
                <a href="https://www.rgo.ru/ru">
                    <img src="{% static 'RGS.png'%}" alt="" srcset="" class="footer__img" style="width:130px">
                </a>
                <div class="footer__text">
                    При поддержке Русского Географического Общества (РГО)
                </div>
            </div>
            
        </div>
        <div class="footer-container">
            
             <div class="footer__row-left" style="justify-content:start">
                <div class="footer__copyright">
                    <strong>Copyright © 2022 MIIGAiK.</strong> Все права защищены.
                 </div>
              </div>
            
              <div class="footer__row-right" style="flex-direction: column;width: calc(50% - 218px);padding-left: 35px;">
                 <div class="footer__contact-heading">
                     <a href="https://www.miigaik.ru/student-research-and-development-center/" style="text-decoration: none;color: #000;"><h3>Контакты</h3></a>
                 </div>
                 <div class="footer__contact-elem">
                     Адрес: Москва, Гороховский пер., 4, кампус МИИГАиК, 6 корпус, 5 подъезд, 1 этаж
                 </div>
                 <div class="footer__contact-elem">
                     Email: srdc@miigaik.ru                
                 </div>
              </div>
         </div>
       
    </div>