{% load static %}

    <div class="footer">
        <div class="footer-container">
            <div class="footer__row-left">
                <img src="https://gretere.miigaik.ru/sites/default/files/inline-images/miigaik-logo.jpg" alt="" srcset="" class="footer__img">
                <div class="footer__text">
                    Московский государственный университет
                    геодезии и картографии
                    
                </div>
            </div>
            <div class="footer__row-right">
                <img src="https://gretere.miigaik.ru/sites/default/files/inline-images/miigaik-logo.jpg" alt="" srcset="" class="footer__img">
                <div class="footer__text">
                    РГО
                </div>
            </div>
        </div>
        <div class="footer__copyright">
           <strong>Copyright © 2022 MIIGAiK.</strong> Все права защищены.
        </div>
    </div>