{% load static %}

    <div class="footer">
        <div class="footer-container">
            <div class="footer__row-left">
                <img src="https://gretere.miigaik.ru/sites/default/files/inline-images/miigaik-logo.jpg" alt="" srcset="" class="footer__img">
                <div class="footer__text">
                    Организатор :
                    Московский государственный университет
                    геодезии и картографии
                    
                </div>
            </div>
            <div class="footer__row-right">
                <img src="https://gretere.miigaik.ru/sites/default/files/inline-images/miigaik-logo.jpg" alt="" srcset="" class="footer__img">
                <div class="footer__text">
                    Софинансируется программой
                    Erasmus+
                    Европейского Союза
                </div>
            </div>
        </div>
        <div class="footer__copyright">
            Copyright © 2021. Все права защищены.
        </div>
    </div>