{% extends 'Content.html' %}
{% block child %}
 <div class="team-block">
{% for object in objects %} 
  <div class="team-block-member">
    <div class="team-block-member-info">
      <div class="team-block-member__heading">
        {{ object.name }}
      </div>
      <div class="team-block-member__sub"> {{ object.date }}</div>
      <div class="team-block-member__text">
        {{ object.description|linebreaksbr  }}
        
      </div>
    </div>
  </div>
   {% endfor %}
</div>
{% endblock %}
